In [2]:
import pandas as pd
import numpy as np
import re

#### Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [46]:
def is_vowel(s):
    r_vowels = r'[aeiouAEIOU]'
    return re.search(r_vowels, s) != None

In [49]:
is_vowel('c')

False

#### Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [82]:
def is_valid_username(s):
    
    if len(s)> 32:
        return False
    
    elif re.search(r'[A-Z]',s) != None:
        return False
    
    elif re.search(r'^[a-z]\w',s) != None:
        return True
    
    else:
        return False

In [83]:
is_valid_username('valid_usename12')

True

#### Write a regular expression to capture phone numbers. It should match all of the following:
(210) 867 5309\
+1 210.867.5309\
867-5309\
210-867-5309

In [554]:
ph = '+1 210-867-5309'
match = re.findall(r'\d?\d?\d?\D*?[\s?.?-?]?\d{3}[\s.-]\d{4}$', ph)
match

['210-867-5309']

In [553]:
ph = '210-867-5309'
match = re.findall(r'\d?\d?\d?\D*?[\s?.?-?]?\d{3}[\s.-]\d{4}$', ph)
match

['210-867-5309']

In [555]:
ph = '867-5309'
match = re.findall(r'\d?\d?\d?\D*?[\s?.?-?]?\d{3}[\s.-]\d{4}$', ph)
match

['867-5309']

In [556]:
ph = '(210) 867 5309'
match = re.findall(r'\d?\d?\d?\D*?[\s?.?-?]?\d{3}[\s.-]\d{4}$', ph)
match

['210) 867 5309']

#### Use regular expressions to convert the dates below to the standardized year-month-day format.


02/04/19\
02/05/19\
02/06/19\
02/07/19\
02/08/19\
02/09/19\
02/10/19

In [560]:
date = '02/02/19'
formatted_date = re.sub(r'(\d{2})/(\d{2})/(\d{2})', r'\3/\1/\2', date)
formatted_date

'19/02/02'

#### Write a regex to extract the various parts of these logfile lines:


GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58\
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58\
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [571]:
log_file_lines = '''GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'''

In [572]:
lines = pd.Series(log_file_lines.strip().split('\n'))

In [577]:
lines

0    GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1    POST /users_accounts/file-upload [16/Apr/2019:...
2    GET /api/v1/items?page=3 [16/Apr/2019:193453+0...
dtype: object

In [579]:
regexp = r'''
^
(?P<Request_info>.+)
\s
(?P<destination>.+)
\s
\[
(?P<date_time>.+?)
\]
\s
(?P<HTTP>.+)
\s
\{
(?P<status_code>.+)
\}
\s
(?P<something>.+?)
\s
"
(?P<user_agent>.+)
"
\s
(?P<ip>\d\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
$
'''
pd.Series(lines).str.extract(regexp, re.VERBOSE)

,Request_info,destination,date_time,HTTP,status_code,something,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58